---
apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  generateName: api-gateway-dev-
  namespace: apiops-gateway
spec:
  pipelineRef: 
    name: api-gateway-dev-pipeline
  params:
    - name: github-host-url
      value: {{ protocol }}://{{ github_domain }}
    - name: git-full-repo-name
      value: gitea/acmebank-apiops-gateway
    - name: git-branch
      value: sandbox
    - name: microservice
      value: disputes
    - name: api-spec-version
      value: v1.1.0
    - name: konnect-runtime-group-name
      value: dev
  taskRunSpecs:
    - pipelineTaskName: create-branch
      taskServiceAccountName: build-bot
  workspaces:
    - name: source
      persistentvolumeclaim:
        claimName: api-gateway-dev-pvc
    - name: github-basic-auth
      secret: 
        secretName: my-github-auth
    - name: deck
      secret: 
        secretName: deck